<!DOCTYPE html>
<html lang="id">
<%- include('../../partials/head.ejs') %>

<body>
  <%- include('../../partials/navbar.ejs') %>

  <div>
    <!-- banner -->
    <%- include('../../partials/banner.ejs') %>

    <div>
      <div class="container mx-auto md:px-40 text-center my-12">
        <h1 class="mb-2">Hubungi Kami</h1>
        <p>
          Untuk informasi lebih lanjut tentang produk dan layanan kami,
          silakan kirimkan email kepada kami. Staf kami selalu siap membantu
          Anda. Jangan ragu untukemukan koleksi batik berkualitas dengan
          desain unik dan penuh makna menghubungi kami!
        </p>
      </div>

      <div class="container mx-auto md:px-40 grid grid-cols-2 gap-40">
        <div>
          <div class="flex">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="mx-2">
              <h2>Alamat</h2>
              <p>
                Jl. Cigeureung No.82, Nagasari, Kec. Cipedes, Tasikmalaya, Jawa Barat, Indonesia.
              </p>
            </div>
          </div>
          <div class="flex my-12">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="mx-2">
              <h2>Telepon</h2>
              <p>+62 822 4007 4715</p>
            </div>
          </div>
          <div class="flex">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 0 0 0-1.5h-3.75V6Z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="mx-2">
              <h2>Waktu Operasional</h2>
              <p>
                Setiap Hari : 08.00 - 17.00 WIB
              </p>
            </div>
          </div>
        </div>

        <div>
          <form action="/send-message" method="POST" class="space-y-4">
            <div>
              <label for="name" class="block text-sm font-medium text-gray-700">Nama</label>
              <input type="text" id="name" name="name" required class="mt-1 block w-full border border-gray-300 px-2 py-2 shadow-sm" />
            </div>
            <div>
              <label for="email" class="block text-sm font-medium text-gray-700">Alamat Email</label>
              <input type="email" id="email" name="email" required class="mt-1 block w-full border border-gray-300 px-2 py-2 shadow-sm" />
            </div>
            <div>
              <label for="subject" class="block text-sm font-medium text-gray-700">Subjek</label>
              <input type="text" id="subject" name="subject" required class="mt-1 block w-full border border-gray-300 px-2 py-2 shadow-sm" />
            </div>
            <div>
              <label for="message" class="block text-sm font-medium text-gray-700">Pesan</label>
              <textarea id="message" name="message" rows="4" required class="mt-1 block w-full border border-gray-300 px-2 py-2 shadow-sm"></textarea>
            </div>
            <div>
              <button type="submit" class="btn-primary">
                Kirim Email
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <%- include('../../partials/footer.ejs') %>
</body>

</html>