<div>
  <footer class="py-16">
    <hr class="mt-6 mb-14 border-gray-300 sm:mx-auto font-bold" />
    <div class="grid grid-cols-5 gap-x-24 container mx-auto">
      <div class="col-span-2">
        <h2 class="self-center text-2xl font-semibold whitespace-nowrap mb-6">
          RIZQI<span class="text-primary">BATIK</span>
        </h2>
        <p class="text-slate-500">
          Jl. Cigeureung No.82, Nagasari, Kec. Cipedes, Tasikmalaya, Jawa Barat, Indonesia.
          Telepon : +62 822 4007 4715
        </p>
      </div>
      <div class="grid grid-cols-5 col-span-3 gap-x-12">
        <nav>
          <h6 class="text-slate-500 mb-6">Tautan</h6>
          <ul class="grid grid-rows-4 gap-y-2">
            <li>
              <a href="/" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary md:p-0" aria-current="page">Beranda</a>
            </li>
            <li>
              <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary md:p-0">Belanja</a>
            </li>
            <li>
              <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary md:p-0">Tentang</a>
            </li>
            <li>
              <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary md:p-0">Kontak</a>
            </li>
          </ul>
        </nav>
        <nav>
          <h6 class="text-slate-500 mb-6">Bantuan</h6>
          <ul class="grid grid-rows-3 gap-y-2">
            <li>
              <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary md:p-0" aria-current="page">Opsi pembayaran</a>
            </li>
            <li>
              <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary md:p-0">Pengembalian</a>
            </li>
            <li>
              <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary md:p-0">Kebijakan Privasi</a>
            </li>
          </ul>
        </nav>

        <div class="col-span-3">
          <h6 class="text-slate-500 mb-6">Berlangganan</h6>
          <form action="/subscribe" method="POST" class="flex">
            <input type="email" name="email" placeholder="Masukkan alamat email Anda" class=" border-black font-bold border-b mr-2" required />
            <button type="submit" class="border-black border-b ml-2 font-bold">
              Berlangganan
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="container mx-auto">
      <hr class="my-6 border-gray-300 sm:mx-auto font-bold" />
      <p>&copy; 2024 RizqiBatik. All rights reserved.</p>
    </div>
  </footer>
</div>