<%- include('../../partials/head.ejs') %>
<body>
    <%- include('../../partials/navbar.ejs') %>
    
    <div>
        didieu ki
        kanjut
    </div>

    <%- include('../../partials/footer.ejs') %>
</body>
</html>