<!DOCTYPE html>
<html lang="id">
<%- include('../../../partials/head.ejs') %>

<body class="bg-gray-100">
  <!-- Halaman Login -->
  <div class="container mx-auto flex justify-center items-center min-h-screen">
    <div class="max-w-md w-full bg-white rounded-lg shadow-lg p-8">
      <h2 class="text-center text-3xl font-bold text-gray-800 mb-6">Login Admin</h2>

      <form action="/admin/login" method="POST" class="space-y-6">
        <!-- Input Username -->
        <div>
          <label for="username" class="block text-gray-600 font-medium mb-2">Username</label>
          <input type="text" id="username" name="username" class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-primary focus:outline-none" placeholder="Masukkan username Anda" required />
        </div>

        <!-- Input Password -->
        <div>
          <label for="password" class="block text-gray-600 font-medium mb-2">Password</label>
          <input type="password" id="password" name="password" class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-primary focus:outline-none" placeholder="Masukkan password Anda" required />
        </div>

        <!-- Tombol Login -->
        <button type="submit" class="w-full py-3 bg-primary text-white font-bold rounded-lg hover:bg-primary-dark transition duration-200">
          Login
        </button>
      </form>

    </div>
  </div>
</body>

</html>